
<div style="padding-bottom: 10px; display: flex; justify-content: center">
  <input type="button" class="btn btn-default btn-md"  value="Generer tilfældige kampe ud fra de {{getNumberOfSelectedPlayers()}} markerede spillere" (click)="getTournamentGameRounds()">
</div>
<div>
  <alert *ngFor="let alert of noGameGenerationAlerts;let i = index" [type]="alert.type" >
    {{ alert?.msg }}
  </alert>
</div>
<div class="tournamentGameRound" *ngFor="let tournamentGameRound of tournamentGameRounds; let j = index">
  <div class="tournamentGame" *ngFor="let game of tournamentGameRound.tournamentGames; let i = index">
      <div [class.intenseRed]="oneRoundAtATime && game.id != 0 && (i == 0 && intenseArray[0] == 'blue')" 
           [class.intenseGreen]="oneRoundAtATime && game.id != 0 && (i == 0 && intenseArray[0] == 'red')"  
           [class.intenseBlue]="oneRoundAtATime && game.id != 0 && (i == 1 && intenseArray[1] == 'blue')"   
           [class.intenseOrange]="oneRoundAtATime && game.id != 0 && (i == 1 && intenseArray[1] == 'red')" 
           [class.intenseBlack]="oneRoundAtATime && game.id != 0 && (i == 2 && intenseArray[2] == 'blue')" 
           [class.intensePurple]="oneRoundAtATime && game.id != 0 && (i == 2 && intenseArray[2] == 'red')"
           [class.intensePink]="oneRoundAtATime && game.id != 0 && (i == 3 && intenseArray[3] == 'blue')" 
           [class.intenseLime]="oneRoundAtATime && game.id != 0 && (i == 3 && intenseArray[3] == 'red')">
        <div  class="panel"  
          [class.panel-success]="i == 0"  
          [class.panel-warning]="i == 1" 
          [class.panel-purple]="i == 2"
          [class.panel-pink]="i == 3" style="margin-bottom: 0px">
          <div class="panel-heading">
            <div class="team">
              <div class="playerContent" style="align-items: flex-end; text-align:end;">
                <b>{{game.playerRed1}}</b>
                <span style="text-align:end;" *ngIf="oneRoundAtATime && game.playerRed1 != null && currentPositionForPlayer[game.playerRed1.toLocaleLowerCase()]">
                  Før kampen:<br>{{currentPointsForPlayer[game.playerRed1.toLocaleLowerCase()]}} point<br>
                  <h3>#{{currentPositionForPlayer[game.playerRed1.toLocaleLowerCase()]}}</h3>
                </span>
              </div>
              <img class="playerimg" [class.intenseBorder]="oneRoundAtATime && ((i == 0 && intenseArray[0] == 'red') 
              || (i == 1 && intenseArray[1] == 'red') || (i == 2 && intenseArray[2] == 'red')) "  
              [class.selectedPersonBorder]="playerForStatistics == game.playerRed1" 
              (click)="changePlayerForStatistics(game.playerRed1);"  [src]=getImageUrl(game.playerRed1)  
              onError="this.src = 'assets/img/Wildcard.jpg'">
              <img class="playerimg"  *ngIf="game.playerRed2 != null" [class.intenseBorder]="oneRoundAtATime && ((i == 0 && intenseArray[0] == 'red') || (i == 1 && intenseArray[1] == 'red') || (i == 2 && intenseArray[2] == 'red')) "  [class.selectedPersonBorder]="playerForStatistics == game.playerRed2" (click)="changePlayerForStatistics(game.playerRed2);" [src]=getImageUrl(game.playerRed2)  onError="this.src = 'assets/img/Wildcard.jpg'">
              <div class="playerContent" style="text-align:start;">
                <b>{{game.playerRed2}}</b>
                <span *ngIf="oneRoundAtATime && game.playerRed2 != null && currentPositionForPlayer[game.playerRed2.toLocaleLowerCase()]">
                  Før kampen:<br>{{currentPointsForPlayer[game.playerRed2.toLocaleLowerCase()]}} point<br>
                  <h3>#{{currentPositionForPlayer[game.playerRed2.toLocaleLowerCase()]}}</h3>
                </span>
              </div>
            </div>
            <progressbar class="progress-striped active" [max]="50" value="{{pointsToWinForTopTeam[i]}}" >{{pointsToWinForTopTeam[i]}}</progressbar> 
            <div class="btn-point" *ngIf="oneRoundAtATime && (i == 0 && intenseArray[0] == 'red')"              ><input *ngIf="game.id != 0" type="button" class="btn btn-success" [class.disabled]="game.id == 0" value="INTENSE - Grønt hold vinder ({{pointsToWinForTopTeam[i]}} point) - INTENSE"  (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'red', game.lastUpdatedUtc, pointsToWinForTopTeam[i])"></div>
            <div class="btn-point" *ngIf="(!oneRoundAtATime && i == 0) || (i == 0 && intenseArray[0] != 'red')" ><input *ngIf="game.id != 0" type="button" class="btn btn-success" [class.disabled]="game.id == 0" value="Grønt hold vinder ({{pointsToWinForTopTeam[i]}} point)"                      (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'red', game.lastUpdatedUtc, pointsToWinForTopTeam[i])"></div>
            <div class="btn-point" *ngIf="oneRoundAtATime && (i == 1 && intenseArray[1] == 'red')"              ><input *ngIf="game.id != 0" type="button" class="btn btn-warning" [class.disabled]="game.id == 0" value="INTENSE - Orange hold vinder ({{pointsToWinForTopTeam[i]}} point) - INTENSE" (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'red', game.lastUpdatedUtc, pointsToWinForTopTeam[i])"></div>
            <div class="btn-point" *ngIf="(!oneRoundAtATime && i == 1) || (i == 1 && intenseArray[1] != 'red')" ><input *ngIf="game.id != 0" type="button" class="btn btn-warning" [class.disabled]="game.id == 0" value="Orange hold vinder ({{pointsToWinForTopTeam[i]}} point)"                     (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'red', game.lastUpdatedUtc, pointsToWinForTopTeam[i])"></div>
            <div class="btn-point" *ngIf="oneRoundAtATime && (i == 2 && intenseArray[2] == 'red')"              ><input *ngIf="game.id != 0" type="button" class="btn btn-purple"  [class.disabled]="game.id == 0" value="INTENSE - Lilla hold vinder ({{pointsToWinForTopTeam[i]}} point) - INTENSE"  (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'red', game.lastUpdatedUtc, pointsToWinForTopTeam[i])"></div>
            <div class="btn-point" *ngIf="(!oneRoundAtATime && i == 2) || (i == 2 && intenseArray[2] != 'red')" ><input *ngIf="game.id != 0" type="button" class="btn btn-purple"  [class.disabled]="game.id == 0" value="Lilla hold vinder ({{pointsToWinForTopTeam[i]}} point)"                      (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'red', game.lastUpdatedUtc, pointsToWinForTopTeam[i])"></div>
            <div class="btn-point" *ngIf="oneRoundAtATime && (i == 3 && intenseArray[3] == 'red')"              ><input *ngIf="game.id != 0" type="button" class="btn btn-pink"  [class.disabled]="game.id == 0" value="INTENSE - Pink hold vinder ({{pointsToWinForTopTeam[i]}} point) - INTENSE"     (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'red', game.lastUpdatedUtc, pointsToWinForTopTeam[i])"></div>
            <div class="btn-point" *ngIf="(!oneRoundAtATime && i == 3) || (i == 3 && intenseArray[3] != 'red')" ><input *ngIf="game.id != 0" type="button" class="btn btn-pink"  [class.disabled]="game.id == 0" value="Pink hold vinder ({{pointsToWinForTopTeam[i]}} point)"                         (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'red', game.lastUpdatedUtc, pointsToWinForTopTeam[i])"></div>
          </div>
        </div>
        <div class="img_container" style="display: flex" >
          <div style="flex-grow: 1; background-color: #404040"></div>
          <div style="flex-grow: 0"><img class="fodboldbordBillede" src="assets/img/fussball-table-nummer-{{i + 1}}.png" >
            <input *ngIf="game.id != 0" type="button" class="btn btn-default uafgjortButton" [class.disabled]="game.id == 0" value="Uafgjort {{teamsColors[i]}} (0 point)"   (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'draw', game.lastUpdatedUtc, 0)"></div>
            <div style="flex-grow: 1; background-color: #404040"></div>
        </div>
        <div class="tablename" *ngIf="tableNames[i]"><b>{{tableNames[i]}}</b></div>
        <div  class="panel" [class.panel-danger] = "i == 0"  [class.panel-info] = "i == 1" 
                            [class.panel-black]  = "i == 2"  [class.panel-lime] = "i == 3" >
          <div class="panel-heading">
            <div class="btn-point" *ngIf="oneRoundAtATime && (i == 0 && intenseArray[0] == 'blue')"             ><input *ngIf="game.id != 0" type="button" class="btn btn-danger" [class.disabled]="game.id == 0" value="INTENSE - Rødt hold vinder ({{pointsToWinForBottomTeam[i]}} point) - INTENSE" (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'blue', game.lastUpdatedUtc, pointsToWinForBottomTeam[i])"></div>
            <div class="btn-point" *ngIf="(!oneRoundAtATime && i == 0) || (i == 0 && intenseArray[0] != 'blue')"><input *ngIf="game.id != 0" type="button" class="btn btn-danger" [class.disabled]="game.id == 0" value="Rødt hold vinder ({{pointsToWinForBottomTeam[i]}}   point)"                   (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'blue', game.lastUpdatedUtc, pointsToWinForBottomTeam[i])"></div>
            <div class="btn-point" *ngIf="oneRoundAtATime && (i == 1 && intenseArray[1] == 'blue')"             ><input *ngIf="game.id != 0" type="button" class="btn btn-info"   [class.disabled]="game.id == 0" value="INTENSE - Blåt hold vinder ({{pointsToWinForBottomTeam[i]}} point)- INTENSE"  (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'blue', game.lastUpdatedUtc, pointsToWinForBottomTeam[i])"></div>
            <div class="btn-point" *ngIf="(!oneRoundAtATime && i == 1) || (i == 1 && intenseArray[1] != 'blue')"><input *ngIf="game.id != 0" type="button" class="btn btn-info"   [class.disabled]="game.id == 0" value="Blåt hold vinder ({{pointsToWinForBottomTeam[i]}} point)"                     (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'blue', game.lastUpdatedUtc, pointsToWinForBottomTeam[i])"></div>
            <div class="btn-point" *ngIf="oneRoundAtATime && (i == 2 && intenseArray[2] == 'blue')"             ><input *ngIf="game.id != 0" type="button" class="btn btn-black"  [class.disabled]="game.id == 0" value="INTENSE - Sort hold vinder ({{pointsToWinForBottomTeam[i]}} point)- INTENSE"  (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'blue', game.lastUpdatedUtc, pointsToWinForBottomTeam[i])"></div>
            <div class="btn-point" *ngIf="(!oneRoundAtATime && i == 2) || (i == 2 && intenseArray[2] != 'blue')"><input *ngIf="game.id != 0" type="button" class="btn btn-black"  [class.disabled]="game.id == 0" value="Sort hold vinder ({{pointsToWinForBottomTeam[i]}} point)"                     (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'blue', game.lastUpdatedUtc, pointsToWinForBottomTeam[i])"></div>
            <div class="btn-point" *ngIf="oneRoundAtATime && (i == 3 && intenseArray[3] == 'blue')"             ><input *ngIf="game.id != 0" type="button" class="btn btn-lime"   [class.disabled]="game.id == 0" value="INTENSE - Lime hold vinder ({{pointsToWinForBottomTeam[i]}} point)- INTENSE"  (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'blue', game.lastUpdatedUtc, pointsToWinForBottomTeam[i])"></div>
            <div class="btn-point" *ngIf="(!oneRoundAtATime && i == 3) || (i == 3 && intenseArray[3] != 'blue')"><input *ngIf="game.id != 0" type="button" class="btn btn-lime"   [class.disabled]="game.id == 0" value="Lime hold vinder ({{pointsToWinForBottomTeam[i]}} point)"                     (click)="indmeldResultat(j, game.playerRed1, game.playerRed2, game.playerBlue1, game.playerBlue2, (i + 1), 'blue', game.lastUpdatedUtc, pointsToWinForBottomTeam[i])"></div>
            <div style="margin-bottom: 20px;"></div>  
            <progressbar class="progress-striped active" [max]="50" value="{{pointsToWinForBottomTeam[i]}}" >{{pointsToWinForBottomTeam[i]}}</progressbar>
            <div class="team">
                <div class="playerContent" style="align-items: flex-end; text-align:end;">
                  <b>{{game.playerBlue1}}</b>
                  <span *ngIf="oneRoundAtATime && game.playerBlue1 != null && currentPositionForPlayer[game.playerBlue1.toLocaleLowerCase()]">
                    Før kampen:<br>
                    {{currentPointsForPlayer[game.playerBlue1.toLocaleLowerCase()]}} point<br>
                    <h3>#{{currentPositionForPlayer[game.playerBlue1.toLocaleLowerCase()]}}</h3></span>
                </div>
                <img class="playerimg" [class.intenseBorder]="oneRoundAtATime && ((i == 0 && intenseArray[0] == 'blue') || (i == 1 && intenseArray[1] == 'blue') || (i == 2 && intenseArray[2] == 'blue')) "  [class.selectedPersonBorder]="playerForStatistics== game.playerBlue1" (click)="changePlayerForStatistics(game.playerBlue1);" [src]=getImageUrl(game.playerBlue1)  onError="this.src = 'assets/img/Wildcard.jpg'">
                <img class="playerimg" *ngIf="game.playerBlue2 != null"  [class.intenseBorder]="oneRoundAtATime && ((i == 0 && intenseArray[0] == 'blue') || (i == 1 && intenseArray[1] == 'blue') || (i == 2 && intenseArray[2] == 'blue') )"  [class.selectedPersonBorder]="playerForStatistics== game.playerBlue2" (click)="changePlayerForStatistics(game.playerBlue2);" [src]=getImageUrl(game.playerBlue2)  onError="this.src = 'assets/img/Wildcard.jpg'">
                <div class="playerContent" style="text-align:start;">
                  <b>{{game.playerBlue2}}</b>
                  <span *ngIf="oneRoundAtATime && game.playerBlue2 != null &&currentPositionForPlayer[game.playerBlue2.toLocaleLowerCase()]">
                  Før kampen:<br>{{currentPointsForPlayer[game.playerBlue2.toLocaleLowerCase()]}} point<br>
                  <h3>#{{currentPositionForPlayer[game.playerBlue2.toLocaleLowerCase()]}}</h3></span>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
