.img_container {
    position:relative;
    display:inline-block;
    text-align:center;
}

.uafgjortButton {
    position:absolute;
    bottom:48px;
    right:125px;
    width:130px;
    height:30px;
}

.resultatUafgjortButton {
    position:absolute;
    bottom:48px;
    right:105px;
}

.resultatTopSejrButton {
    position:absolute;
    top:2px;
    right:105px;
}

.resultatBundSejrButton {
    position:absolute;
    bottom:2px;
    right:105px;
}

.intenseBorder {
  border-style: solid;
  border-width: 10px;
}

.intenseRed {
  border-color: #a94442;
  border-style: solid;
  border-color: 2px;
}

.intenseGreen {
  border-color: #5cb85c;
  border-style: solid;
  border-color: 2px;
}

.intenseBlue {
  border-color: #31b0d5;
  border-style: solid;
  border-color: 2px;
}

.intenseOrange {
  border-color: #ec971f;
  border-style: solid;
  border-color: 2px;
}

.intensePurple {
  border-color: #564AA3;
  border-style: solid;
  border-color: 2px;
}

.intenseBlack {
  border-color: black;
  border-style: solid;
  border-color: 2px;
}

.btn-purple {
  background-color: #564AA3;
  color: #fff;
  border-color: #3F3197;
}

.btn-black {
  background-color: black;
  color: #fff;
  border-color: #383E4C
}

.panel-purple {
  background-color: #D7D3FF;
}

.panel-black {
  background-color: #C7CAD6;
}
