.playerimg {
  width:128px;
  height:160px;
  margin: 0px 3px;
  border-radius: 15px;
}
.team {
  display:flex; 
  align-items: center;
  padding: 10px 0px;
}
.fodboldbordBillede {
  width: 433px;
}

.tablename {
  display:flex; 
  justify-content: center;
  background-color: #404040; 
  color: white;
}
.btn-point {
  display:flex; 
  justify-content:center
}
.playerContent {
  display:flex; 
  flex-direction: column;
}
.tournamentGameRound {
  display:flex; 
}

.tournamentGame {
  padding: 5px;
}
.img_container {
    position:relative;
    display:inline-block;
    text-align:center;
}

.uafgjortButton {
    position:absolute;
    bottom:67px;
    right:115px;
    width:200px;
    height:30px;
}

.intenseBorder {
  border-style: solid;
  border-width: 10px;
}

.intenseRed {
  border-color: #a94442;
  border-style: solid;
  border-color: 2px;
}

.intenseGreen {
  border-color: #5cb85c;
  border-style: solid;
  border-color: 2px;
}

.intenseBlue {
  border-color: #31b0d5;
  border-style: solid;
  border-color: 2px;
}

.intenseOrange {
  border-color: #ec971f;
  border-style: solid;
  border-color: 2px;
}

.intensePurple {
  border-color: #564AA3;
  border-style: solid;
  border-color: 2px;
}

.intenseBlack {
  border-color: black;
  border-style: solid;
  border-color: 2px;
}

.btn-purple {
  background-color: #564AA3;
  color: #fff;
  border-color: #3F3197;
}

.btn-black {
  background-color: black;
  color: #fff;
  border-color: #383E4C
}

.panel-purple {
  background-color: #D7D3FF;
}

.panel-black {
  background-color: #C7CAD6;
}
