.img_container {
    position:relative;
    display:inline-block;
    text-align:center;
}

.uafgjortButton {
    position:absolute;
    bottom:48px;
    right:85px;
    width:130px;
    height:30px;
}

.resultatUafgjortButton {
    position:absolute;
    bottom:48px;
    right:105px;
}

.resultatTopSejrButton {
    position:absolute;
    top:2px;
    right:105px;
}

.resultatBundSejrButton {
    position:absolute;
    bottom:2px;
    right:105px;
}

.intenseBorder {
  border-style: solid;
  border-width: 10px;
}

.selectedPersonBorder {
  border-style: solid;
  border-width: 3px;
  border-color: orange;
}

.intenseRed {
  border-color: #a94442;
  border-style: solid;
  border-color: 2px;
}

.intenseGreen {
  border-color: #5cb85c;
  border-style: solid;
  border-color: 2px;
}

.intenseBlue {
  border-color: #31b0d5;
  border-style: solid;
  border-color: 2px;
}

.intenseOrange {
  border-color: #ec971f;
  border-style: solid;
  border-color: 2px;
}
